<div class="container">
    <h1>Coinbase</h1>
    <div class="vertical-navbar">
        <ul class="nav-items">
            <li>
                <div><mat-icon>home </mat-icon> </div>
                <div><span>assets</span></div>
            </li>
            <li>
                <div><mat-icon>trending_up </mat-icon> </div>
                <div><span>trade</span></div>
            </li>
            <li>
                <div><mat-icon>attach_money </mat-icon> </div>
                <div><span>assets</span></div>
            </li>
            <li>
                <div><mat-icon>payment </mat-icon> </div>
                <div><span>assets</span></div>
            </li>
            <li>
                <div><mat-icon>school </mat-icon> </div>
                <div><span>assets</span></div>
            </li>
            <li>
                <div><mat-icon>notifications </mat-icon> </div>
                <div><span>assets</span></div>
            </li>
            <li>
                <div><mat-icon>add_circle </mat-icon> </div>
                <div><span>Invite </span></div>
            </li>
            <!-- <li><mat-icon>trending_up </mat-icon> trade</li>
            <li> <mat-icon> attach_money </mat-icon> pay</li>
            <li><mat-icon>payment </mat-icon> for you</li>
            <li><mat-icon>school </mat-icon> learn and earn</li>
            <li> <mat-icon>notifications </mat-icon> notification</li>
            <li> <mat-icon>add_circle </mat-icon> Invite friends</li> -->
        </ul>
    </div>
</div>