<div class="container">
    <div class="title">
        <h1>Your Assets</h1>
    </div>
    <div class="table-view">
        <table>
            <tr >
                <th style="width:30% ; padding: 10px;"> Name</th>
                <th>Balance</th>
                <th>Price</th>
                <th>Allocation</th>
            </tr>
            <tr>
                <td style="padding:14px ;">  Bitcoin</td>
                <td> <div>$230</div> <div><span>6.333BTC </span></div></td>
                <td> <div>$3,21,22</div>  <div><span style="color: red;">-4.34%</span></div></td>
                <td>41.85%</td>
            </tr>
            <tr>
                <td style="padding:14px ;">  Etheruem</td>
                <td> <div>$130</div> <div><span>2.23ETH </span></div></td>
                <td> <div>$3,21,22</div>  <div><span style="color: green;">6.34%</span></div></td>
                <td>41.85%</td>
            </tr>
            <tr>
                <td style="padding:14px ;">  Solana</td>
                <td> <div>$530</div> <div><span>5.21SOL </span></div></td>
                <td> <div>$3,21,22</div>  <div><span style="color: red;">-1.34%</span></div></td>
                <td>41.85%</td>
            </tr>
        </table>
    </div>
</div>
