.container{
    padding: 10px;
    margin-left: 20px;
}

.first{
    border: 1px solid #282b2f;
    padding: 25px;
}

.second{
    margin-top: 25px;
    border: 1px solid #282b2f;
    padding: 25px;

}